# General
/examples/**
*.metadata
__pycache__/
*.pyc
*.pyo
*.log
logs
.venv/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# DBT
target/
dbt_packages/
logs/

# Environment variables (WRDS user info etc.)
.env

# Data
hongkong.db
data/

# Tester output files
testing/*.csv