data/
/examples/**
*.metadata
__pycache__/
*.pyc
*.pyo
*.log
logs
.venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

target/
dbt_packages/
logs/
