
# Core
requests~=2.31.0
pandas~=2.3.3
beautifulsoup4~=4.12.2

# Excel/Arrow
xlrd==2.0.1
openpyxl==3.1.5
pyarrow~=22.0.0

# Databases
sqlalchemy~=2.0.20
psycopg2-binary~=2.9.9

# Env
python-dotenv~=1.1.1

# PDF processing
pdfplumber~=0.11.4
google-genai
PyMuPDF